{
  "active": [
    {"address": [0x10, 0x97, 0xBD, 0x12, 0x0A, 0x05], "version": ""},
    {"address": [0x10, 0x97, 0xBD, 0x12, 0x0C, 0x35], "version": ""},
    {"address": [0x24, 0x6F, 0x28, 0xF2, 0xB2, 0x29], "version": ""},
    {"address": [0x24, 0x6F, 0x28, 0xDD, 0x47, 0xCD], "version": ""},
    {"address": [0x24, 0x6F, 0x28, 0xDD, 0x46, 0xA1], "version": ""},
    {"address": [0x24, 0x6F, 0x28, 0xF2, 0xB2, 0x55], "version": ""},
    {"address": [0x10, 0x97, 0xBD, 0x12, 0x1C, 0x49], "version": ""},
    {"address": [0x10, 0x97, 0xBD, 0x13, 0x20, 0xBD], "version": ""},
    {"address": [0x10, 0x97, 0xBD, 0x13, 0x2C, 0xCD], "version": ""},
    {"address": [0x10, 0x97, 0xBD, 0x12, 0x86, 0xCD], "version": ""},
    {"address": [0x10, 0x97, 0xBD, 0x12, 0x66, 0x95], "version": ""},
    {"address": [0x10, 0x97, 0xBD, 0x13, 0x20, 0x51], "version": ""},
    {"address": [0x10, 0x97, 0xBD, 0x13, 0x26, 0xE1], "version": ""},
    {"address": [0x10, 0x97, 0xBD, 0x12, 0x1C, 0x05], "version": ""},
    {"address": [0x10, 0x97, 0xBD, 0x12, 0x62, 0xDD], "version": ""},
    {"address": [0x10, 0x97, 0xBD, 0x13, 0x3D, 0xA9], "version": ""},
    {"address": [0x10, 0x97, 0xBD, 0x12, 0x24, 0x49], "version": ""},
    {"address": [0x24, 0x6F, 0x28, 0xF1, 0x9D, 0x59], "version": ""},
    {"address": [0x10, 0x97, 0xBD, 0x12, 0x22, 0xA4], "version": "", "comment": "2m, no cover"},
    {"address": [0x10, 0x97, 0xBD, 0x12, 0x1C, 0x99], "version": ""}
  ],
  "unactive": [
  ]
}
