{
	"active": [
    {
      "address" : [0xFC,0xB4,0x67,0x5E,0xC9,0xD1],
      "ip": "192.168.1.1"
    },
    {
      "address" : [0xFC,0xB4,0x67,0x5E,0xC9,0x4D],
      "ip": "192.168.1.2"
    },
    {
      "address" : [0xFC,0xB4,0x67,0x5E,0xC9,0x5D],
      "ip": "192.168.1.3"
    },
    {
      "address" : [0xFC,0xB4,0x67,0x5E,0xC9,0x39],
      "ip": "192.168.1.4"
    },
    {
      "address" : [0xFC,0xB4,0x67,0x5E,0xC9,0x99],
      "ip": "192.168.1.5"
    },
    {
      "address" : [0xFC,0xB4,0x67,0x5E,0xC9,0x51],
      "ip": "192.168.1.6"
    },
    {
      "address" : [0xFC,0xB4,0x67,0x5E,0xC9,0x01],
      "ip": "192.168.1.7"
    },
    {
      "address" : [0xFC,0xB4,0x67,0x5E,0xC9,0x11],
      "ip": "192.168.1.8"
    },
    {
      "address" : [0xFC,0xB4,0x67,0x5E,0xC9,0xBD],
      "ip": "192.168.1.9"
    },
    {
      "address" : [0xFC,0xB4,0x67,0x5E,0xC9,0x3D],
      "ip": "192.168.1.10"
    },
    {
      "address" : [0xFC,0xB4,0x67,0x5E,0xC9,0x35],
      "ip": "192.168.1.11"
    },
    {
      "address" : [0xFC,0xB4,0x67,0x5E,0xC9,0x91],
      "ip": "192.168.1.12"
    }


	],
	"unactive": [
		["xxx", "", ""],
	]
}
