{
  "active": [
    {"address": [0xFC, 0xB4, 0x67, 0x5E, 0xC9, 0xD1], "version": "", "ip": "192.168.1.1"},
    {"address": [0xFC, 0xB4, 0x67, 0x5E, 0xC9, 0x4D], "version": "", "ip": "192.168.1.2"},
    {"address": [0xFC, 0xB4, 0x67, 0x5E, 0xC9, 0x5D], "version": "", "ip": "192.168.1.3"},
    {"address": [0xFC, 0xB4, 0x67, 0x5E, 0xC9, 0x39], "version": "", "ip": "192.168.1.4"},
    {"address": [0xFC, 0xB4, 0x67, 0x5E, 0xC9, 0x99], "version": "", "ip": "192.168.1.5"},
    {"address": [0xFC, 0xB4, 0x67, 0x5E, 0xC9, 0x51], "version": "", "ip": "192.168.1.6"},
    {"address": [0xFC, 0xB4, 0x67, 0x5E, 0xC9, 0x01], "version": "", "ip": "192.168.1.7"},
    {"address": [0xFC, 0xB4, 0x67, 0x5E, 0xC9, 0x11], "version": "", "ip": "192.168.1.8"},
    {"address": [0xFC, 0xB4, 0x67, 0x5E, 0xC9, 0xBD], "version": "", "ip": "192.168.1.9"},
    {"address": [0xFC, 0xB4, 0x67, 0x5E, 0xC9, 0x3D], "version": "", "ip": "192.168.1.10"},
    {"address": [0xFC, 0xB4, 0x67, 0x5E, 0xC9, 0x35], "version": "", "ip": "192.168.1.11"},
    {"address": [0xFC, 0xB4, 0x67, 0x5E, 0xC9, 0x91], "version": "", "ip": "192.168.1.12"}
  ],
  "unactive": [
  ]
}
