[
	"active": [
		[[0x34,0x94,0x54,0x14,0xFF,0x59], "", ""],
    [[0xC8,0xF0,0x9E,0xCF,0x94,0xAD], "", ""],
    [[0xC8,0xF0,0x9E,0xD1,0x1D,0xC9], "", ""],
    [[0xC8,0xF0,0x9E,0xD1,0x1D,0x5D], "", ""],
    [[0xC8,0xF0,0x9E,0xD1,0x1D,0xAD], "", ""], 
    [[0xC8,0xF0,0x9E,0xD1,0x1E,0x55], "", ""],
	],
	"unactive": [
		[[0x8C,0x4B,0x14,0x2B,0xC3,0x01], ""],
	]
]
